
                <footer class="footer text-center">
                    Todos los derechos reservados por <a href="#">Steven Castillo</a>.
                </footer>
            </div>
        </div>
       
        <div class="chat-windows"></div>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="assets/template/assets/libs/popper.js/dist/umd/popper.min.js"></script>
        <script src="assets/template/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- apps -->
        <script src="assets/template/dist/js/app.min.js"></script>
        <script src="assets/template/dist/js/app.init.js"></script>
        <script src="assets/template/dist/js/app-style-switcher.js"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script src="assets/template/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
        <script src="assets/template/assets/extra-libs/sparkline/sparkline.js"></script>
        <!--Wave Effects -->
        <script src="assets/template/dist/js/waves.js"></script>
        <!--Menu sidebar -->
        <script src="assets/template/dist/js/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <script src="assets/template/dist/js/custom.min.js"></script>

        <script src="/assets/template/assets/extra-libs/DataTables/datatables.min.js"></script>
        <script src="/assets/template/assets/libs/sweetalert2/dist/sweetalert2.all.min.js"></script>
        <script src="/assets/template/assets/libs/select2/dist/js/select2.full.min.js"></script>
        <script src="/assets/template/assets/libs/select2/dist/js/select2.min.js"></script>
        <script src="/assets/plugin/moment.min.js"></script>

        <script src="/assets/template/assets/extra-libs/prism/prism.js"></script>
        <script>
            const authLocalStorage = JSON.parse(localStorage.getItem('auth'));
            document.querySelectorAll('.autorNombreHeader').forEach(function(elemento) {
                elemento.textContent = authLocalStorage.name;
            });
        </script>
    </body>
    
</html>